{% extends "base.html" %} {% load i18n %}
{% block content_title %}

<h2 class="h3">{% trans "List handout" %} 
    
    </h2>

{% endblock content_title %} {% block content %}
{% if user.is_authenticated %} {% if user.professor %} 
<a class="btn  btn-success btn-sm float-center" 
    href="{% url 'enrollments:create_handouts' course.slug %}" 
    role="button">
    {% trans "Create new handout" %}
</a>
<br>
{% endif %}{% endif %}
<ul class="list-group">
        {% regroup object_list by section as sections %}
        {% for section in sections %}
            <p class="float-sm-center font-weight-bold" style="color: #1B1BB3">{{ section.grouper }}</p>
        
    <li class="list-group-item">
        {% for handout in section.list %}
        <p class="font-italic ">{{ handout.name }}</p>
        <p class="font-italic  font-weight-bold {% if section.grouper == 'PDF' %}  text-warning 
            {% elif section.grouper == 'docx' %}  text-danger
            {% elif section.grouper == 'Photo' %}   text-success {% endif %}"> 
            {{ handout.file }}
        </p>
        {{ handout.description }}
        <a class="btn btn-primary btn-sm float-right" target="_blank" href="{{handout.file.url}}" value='{{handout.name}}' href="#" role="button">{% trans "Download" %}</a>
        {% if user.is_authenticated %} {% if user.professor %}        
            <a class="btn btn-warning btn-sm float-right" href="{% url 'enrollments:update_handout' handout.pk %}" role="button">{% trans "Edit" %}</a>
            <a class="btn btn-danger btn-sm float-right" href="{% url 'enrollments:delete_handout' handout.pk %}" role="button">{% trans "Delete" %}</a>
        {% endif %}{% endif %}

        {% endfor %}
    </li>
    {% empty %}
        <li class="list-group-item">{% trans "No handouts yet." %}</li>
    {% endfor %}
</ul>
<style>
    td {
        line-height: 15px;
    }
        </style>
{% endblock content %}